body {
  padding-top: 50px !important;
}
.starter-template {
  padding: 40px 15px !important;
  text-align: center !important;
}
ul.success li{
  padding: 15px;
    list-style: none;
    background: lightgreen;
    width: 50%;
    margin-top: 15px;
    font-size: medium;
    border-radius: 10px;
}
ul.error li{
  padding: 15px;
    list-style: none;
    background: #E80000;
    width: 50%;
    margin-top: 15px;
    font-size: medium;
    border-radius: 10px;
}
